.theme__pic-image {
    margin-bottom: 400px;
}

.theme__title-text {
    align-items: stretch;
    max-width: 100%;
}

.carousel-caption {
    display: flex !important;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}