
:root {
    background-color: rgb(0, 0, 0);
    color: rgb(170, 170, 170);
    --text-color: rgb(255, 255, 255);
    --button-background-color: rgb(250, 222, 75);
    --button-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

h1 {
    color: #ffff;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: var(--text-color)
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: var(--text-color);
}