
:root {
    background-color: rgb(0, 0, 0);
    color: rgb(170, 170, 170);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffff;
}

p {
    font-family: Helvetica, sans-serif;
}