.header__banner {
    display: flex;
    margin: 20px 15px;
}

.header__banner-burger {
    display: flex;
}

.header__banner-logo {
    display: flex;
    margin: auto;
    width: 224px;
    height: fit-content;
}


.header__banner-search {
    margin: 10px;
}

.header__banner-search-icon {
    height: fit-content;
}
