<section class="announce">
    <picture>
        <img src="img/promo/mobile/announce-ahsoka-mobile.jpeg" alt="ashoka face poster">
    </picture>
    <div>
        <picture>
            <img src="img/promo/mobile/announce-ahsoka-logo.png" alt="star wars ashoka logo">
        </picture>
        <p>
            Ahsoka Tano investigates an emerging threat to
            the galaxy. Original series streaming August 23,
            only on Disney+.
        </p>
        <button>Explore</button>
    </div>
    <div class="youtube__carousel">
        <a href="https://www.youtube.com/watch?v=J_1EXWNETiI">
        <img class="thumb" alt="Official Trailer | Ahsoka"
            data-src="https://img.youtube.com/vi/J_1EXWNETiI/maxresdefault.jpg" data-legacy="true"
            src="https://img.youtube.com/vi/J_1EXWNETiI/maxresdefault.jpg">
        </a>
    </div>
    <div class="youtube__divider">  </div>
    <h3>  Rosario Dawson’s Ahsoka in 30 | Ahsoka </h3>
</section>