<section class="announce">
    <picture class="announce__image">
        <img src="img/promo/mobile/announce-ahsoka-mobile.jpeg" alt="ashoka face poster">
    </picture>
    <div class="announce__content">
        <h1 class="announce__content-header">
            <img class="announce__content-logo" src="img/promo/mobile/announce-ahsoka-logo.png"
                alt="star wars ashoka logo">
        </h1>
        <div class="announce__content-description">
            <p class="announce__content-text">
                Ahsoka Tano investigates an emerging threat to
                the galaxy. Original series streaming August 23,
                only on Disney+.
            </p>
        </div>
        <button class="announce__content-button button">Explore</button>
    </div>
    <section class="announce__youtube">
        <div class="youtube__carousel">
            <a href="https://www.youtube.com/watch?v=J_1EXWNETiI">
                <img class="thumb" alt="Official Trailer | Ahsoka"
                    data-src="https://img.youtube.com/vi/J_1EXWNETiI/maxresdefault.jpg" data-legacy="true"
                    src="https://img.youtube.com/vi/J_1EXWNETiI/maxresdefault.jpg">
            </a>
        </div>
        <div class="announce__details">
            <div class="youtube__divider"></div>
            <p class="announce__details-text"> a new star wars legacy | Ahsoka </p>
        </div>
        <div class="announce__details-style"></div>
    </section>
</section>