<section class="content">
    <div class="content__carousel">
        <ul>
            <li>
                <picture>
                    <img src="img/promo/mobile/content-shin-spheres-hero-mobile.jpeg" alt="new ashoka character">
                </picture>
                <div>
                    <h2>
                        new <i>ahsoka</i> character posters debut
                    </h2>
                    <p>
                        Check out the collection of digital posters
                        featuring heroes and villains from the upcoming
                        Disney+ series.
                    </p>
                    <div>
                        <button>Read more</button>
                        <button>Watch more</button>
                    </div>
                </div>
            </li>
            <li>
                <picture>
                    <img src="img/promo/mobile/content-vacation-quiz-mobile.jpeg" alt="spaceship quiz">
                </picture>
                <div>
                    <h2>
                        Quiz: Where Should You Go on Vacation in the <i>Star Wars</i> Galaxy?
                    </h2>
                    <p>
                        This summer, pack your bags for two weeks of
                        galactic sightseeing on a tour across the
                        stars.
                    </p>
                    <div>
                        <button>Find out now</button>
                    </div>
                </div>
            </li>
            <li>
                <picture>
                    <img src="img/promo/mobile/content-summer-games-mobile.jpeg" alt="race starship game">
                </picture>
                <div>
                    <h2>
                        5 Classic <i>Star Wars</i>  Video Games to Play This Summer
                    </h2>
                    <p>
                        Cool down by staying inside and revisiting some 
                        of the best vintage <i>Star Wars</i> games.
                    </p>
                    <div>
                        <button>Read more</button>
                    </div>
                </div>
            </li>
            <li>
                <picture>
                    <img src="img/promo/outlaws-offer.jpeg" alt="otlaws creative">
                </picture>
                <div>
                    <h2>
                        Inside <i>Star Wars outlaws</i>  
                    </h2>
                    <p>
                        Watch a new behind-the-scenes video and read an 
                        exclusive interview with Julian Gerighty, creative 
                        director of the upcoming open-world game.
                    </p>
                    <div>
                        <button>Watch now</button>
                        <button>Read interview</button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="buttons"></div>
    </div>
</section>