<section class="content">
    <div class="content__promo">
        <p class="content__promo-text"> STREAM STAR WARS ON DISNEY+ </p>
    </div>
    <div class="content__carousel">
        <ul>
            <li class="content__carousel-theme theme">
                <picture class="theme__pic">
                    <img class="theme__pic-image" src="img/promo/mobile/content-shin-spheres-hero-mobile.jpeg"
                        alt="new ashoka character">
                </picture>
                <div class="theme__title">
                    <h2 class="theme__title-text">
                        new <i>ahsoka</i> character posters debut
                    </h2>
                    <div class="theme__description">
                        <p class="theme__description-text">
                            Check out the collection of digital posters
                            featuring heroes and villains from the upcoming
                            Disney+ series.
                        </p>
                        <div>
                            <button class="button">Read more</button>
                            <button class="button">Watch more</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="content__carousel-theme theme">
                <picture class="theme__image">
                    <img src="img/promo/mobile/content-vacation-quiz-mobile.jpeg" alt="spaceship quiz">
                </picture>
                <div class="theme__title">
                    <h2 class="theme__title-text">
                        Quiz: Where Should You Go on Vacation in the <i>Star Wars</i> Galaxy?
                    </h2>
                    <div class="theme__description">
                        <p class="theme__description-text">
                            This summer, pack your bags for two weeks of
                            galactic sightseeing on a tour across the
                            stars.
                        </p>
                    </div>
                    <div>
                        <button class="button">Find out now</button>
                    </div>
                </div>
            </li>
            <li class="content__carousel-theme theme">
                <picture>
                    <img src="img/promo/mobile/content-summer-games-mobile.jpeg" alt="race starship game">
                </picture>
                <div class="theme__title">
                    <h2 class="theme__title-text">
                        5 Classic <i>Star Wars</i> Video Games to Play This Summer
                    </h2>
                    <div class="theme__description">
                        <p class="theme__description-text">
                            Cool down by staying inside and revisiting some
                            of the best vintage <i>Star Wars</i> games.
                        </p>
                    </div>
                    <div>
                        <button class="button">Read more</button>
                    </div>
                </div>
            </li>
            <li class="content__carousel-theme theme">
                <picture>
                    <img src="img/promo/outlaws-offer.jpeg" alt="otlaws creative">
                </picture>
                <div class="theme__title">
                    <h2 class="theme__title-text">
                        Inside <i>Star Wars outlaws</i>
                    </h2>
                    <div class="theme__description">
                        <p class="theme__description-text">
                            Watch a new behind-the-scenes video and read an
                            exclusive interview with Julian Gerighty, creative
                            director of the upcoming open-world game.
                        </p>
                    </div>
                    <div>
                        <button class="button">Watch now</button>
                        <button class="button">Read interview</button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="buttons"></div>
    </div>
</section>