<footer>
    <picture>
        <img src="img/flourish-footer.svg" alt="flourish footer image">
    </picture>
    <nav class="footer__social">
        <h3>More From Star Wars:</h3>
        <ul class="footer__social-nav">
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">
                    <img class="footer__list-icon" src="img/social/instagram-logo.svg" alt="Instagram logo">
                </a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">
                    <img class="footer__list-icon" src="img/social/twitter-logo.svg" alt="Twitter logo">
                </a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">
                    <img class="footer__list-icon" src="img/social/facebook-logo.svg" alt="Facebook logo">
                </a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">
                    <img class="footer__list-icon" src="img/social/youtube-logo.svg" alt="Youtube logo">
                </a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer__list-link">
                    <img class="footer__list-icon" src="img/social/kids-logo.svg" alt="Kids logo">
                </a>
            </li>
        </ul>
    </nav>
    <div class="footer__copyright">
        <p class="footer__copyright-text">TM &amp; © Lucasfilm Ltd. All Rights Reserved</p>
    </div>
</footer>