<footer class="footer">
    <picture>
        <img src="img/flourish-footer.svg" alt="flourish footer image">
    </picture>
    <h4>More From Star Wars:</h4>
        <nav class="footer__social">
            <ul class="footer__social-nav">
                <li class="header__list-item">
                    <a href="#" class="header__list-link">
                        <img class="header__list-icon" src="img/social/instagram-logo.svg" alt="Instagram logo">
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__list-link">
                        <img class="header__list-icon" src="img/social/twitter-logo.svg" alt="Twitter logo">
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__list-link">
                        <img class="header__list-icon" src="img/social/facebook-logo.svg" alt="Facebook logo">
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__list-link">
                        <img class="header__list-icon" src="img/social/youtube-logo.svg" alt="Youtube logo">
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__list-link">
                        <img class="header__list-icon" src="img/social/kids-logo.svg" alt="Kids logo">
                    </a>
                </li>
            </ul>
        </nav>
        <p>TM &amp; © Lucasfilm Ltd. All Rights Reserved</p>
</footer>