<header>
    <section class="header__banner">
        <figure class="header__banner-burger">
            <img class="header__banner-burger-icon" src="img/promo/mobile/header-burger-icon.svg" alt="burger navigation icon">
        </figure>
        <picture class="header__banner-logo">
            <img class="header__banner-logo-image"src="img/promo/mobile/sw-logo-mobile.webp" alt="star wars logo">
        </picture>
        <figure class="header__banner-search">
            <img class="header__banner-search-icon"src="img/promo/mobile/Nav-Search-mobile.svg" alt="search icon">
        </figure>
    </section>
</header>