<!--hold till question with JS navigation will be solved.-->

<!-- <header>
    <section class="header__banner">
        <nav class="header__nav">
            <div class="header__nav-logo">
                <div class="navigation-burger"><span></span></div>
            </div>
            <div class="header__nav-wrapper wrapper">
                <div class="wrapper__links">
                    <a href="#" class="wrapper__link">news+features</a>
                    <a href="#" class="wrapper__link">video</a>
                    <a href="#" class="wrapper__link">films</a>
                    <a href="#" class="wrapper__link">series</a>
                    <a href="#" class="wrapper__link">interactive</a>
                    <a href="#" class="wrapper__link">community</a>
                    <a href="#" class="wrapper__link">databank</a>
                    <a href="#" class="wrapper__link">disney+</a>
                </div>
            </div>
            <div class="header__nav-account">
            </div>
            <div data-include="partials/footer-partial.html""></div>
        </nav>
        <picture class=" header__banner-logo">
                <img class="header__banner-logo-image" src="img/promo/mobile/sw-logo-mobile.webp" alt="star wars logo">
                </picture>
                <figure class="header__banner-search">
                    <img class="header__banner-search-icon" src="img/promo/mobile/Nav-Search-mobile.svg"
                        alt="search icon">
                </figure>
    </section>
</header> -->