<header class="header">
    <section class="header__banner">
        <figure class="header__banner-burger-icon">
            <img src="img/promo/mobile/burger-icon.png" style="background-color: white;" alt="burger navigation icon">
        </figure>
        <picture class="header__banner-logo">
            <img src="img/promo/mobile/sw-logo-mobile.webp" alt="star wars logo">
        </picture>
        <figure class="header__banner-search-icon">
            <img src="img/promo/mobile/Nav-Search-mobile.svg" alt="search icon">
        </figure>
    </section>
    <div class="header__banner-title">
        <h1 class="header__banner-title-text"> STREAM STAR WARS ON DISNEY+ </h1>
    </div>
</header>