h1 {
    text-align: center;
    color: red;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}