.container {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 5% 1fr 10%;
    
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
}

.header {
    grid-area: header;
    background-color: rgb(17, 1, 1);
}

.main {
    grid-area: main;
    background-color: whitesmoke;
}
.main img {
    width: 100%;
    height: auto;
}


.footer {
    grid-area: footer;
    background-color: yellow;
}

.sidebar  {
    grid-area: sidebar;
    background: purple;
    width: 100%;
    height: auto;
}  

.sidebar img {
    width: 100%;
    height: auto;
}

.grid-item {
    text-align: center;
    font-family: 'Star Wars', sans-serif;
    border: 1px solid;
    border-color: rosybrown;
}

h1 {
    font-family: 'Star Wars', sans-serif;
    text-align: center;
    color: red;
}

/* body {
    background-image: url(img/bG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(25px);
    max-width: 100%;
    display: block;
    margin: auto;
} */

/* 

h2 {
    font-family: 'Star Wars', sans-serif;
    text-align: center;
    color: blue;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
} */


